@model Conference.Domain.Entities.Workshops


<div class="col-lg-4 col-md-6 col-sm-12 child workshop">
    <div class="container">
        <div class="text-big mv fixed">
            <a class="name" href="~/Workshops/Details/@Model.Id">@Html.DisplayFor(modelItem => Model.Name)</a>
        </div>

        <span class="sub-title mv">@Html.DisplayFor(modelItem => Model.Speaker.SpeakerName)</span>
        <a target="_blank" href="https://www.eventbrite.com" class="btn btn-primary">Register</a>

    </div>
</div>