@model IEnumerable<Conference.Domain.Entities.Workshops>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <section class="container">
        <div>
            <h1>Workshops</h1>
        </div>
        <div class="parent row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 child workshop">
                    <div class="text-big mv fixed">
                        <a class="name" href="aici o sa pui adresa generata">@Html.DisplayFor(modelItem => item.Name)</a>
                    </div>

                    <span class="sub-title mv">@Html.DisplayFor(modelItem => item.SpeakerId)</span>
                    <a target="_blank" href="https://www.eventbrite.com" class="btn btn-primary">Register</a>

                </div>
            }







        </div>
    </section>

</div>
