<div class="">

    <div class="container text-content">
        <h1 class="title mv">Code of Conduct</h1>

        <div class="row col-lg-9">
            <b class="highlight">All attendees, speakers, sponsors, and volunteers at our conference are required to agree with the following code of conduct.</b>
            <p>
                As organizers of dotnetdays, the .NET Iasi community will enforce this code throughout the event.
                We expect cooperation from all participants to help ensure a safe environment for everybody.
            </p>

            <p>

                The .NET Iasi community commits to providing a <b>
                    safe and friendly facility for all dotnetdays events,
                    respecting each and every individual
                </b>
                in the community and responding promptly to all reports of misconduct with our full attention.
            </p>
            <p>
                What we expect from each of you is to <b> treat everyone with respect,</b>
                refrain from using offensive language and imagery, and to report any derogatory or offensive
                behavior to a member of the .NET Iasi community or dotnetdays staff directly, or through email
                <b>   info@dotnetdays.ro</b>

            </p>
            <p>
                dotnetdays understands the importance of community and wants to
                ensure that we provide a fantastic environment for everyone to learn and share skills
                regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices.
            </p>
            <p>
                We do not tolerate harassment of conference participants in any form.
                Sexual language and imagery is not appropriate for any conference venue, including talks, meetups, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.
            </p>
            <p>
                We value your attendance and your participation in the .NET Iasi community and expect everyone
                to accord to the community Code of Conduct at all dotnetdays venues and events.
            </p>

        </div>

    </div>

</div>